/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish {
  font-family: "Mulish", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}


.navberIcons > ul > li:hover{
  cursor: pointer;
  position: relative;
  background-color: rgb(245, 100, 48);
  border-radius: 100%;
}
.tooltip{
  /* visibility: ; */
  position: absolute;
  top: 10px;
  /* display: flex; */
}  

.hr-foot{
  height: 2px;
  background-color: #0000;
  border: none;
}

#ul-container{
  position: relative;
}


.home, .edit, .add, .flag{
  background-color: #00ff0033;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 3px;
  transition: 2s;
  position: absolute;
  top: -35px;
  left: -8px;
}
.edit{
  left: 72px;
}
.add{
  left: 142px;
}
.flag{
  left: 205px;
}

/* .home-img:hover .home{
  visibility: visible;
} */